<h2>How to use Data Uploader Tool</h2>
<p>Clicking on the dropdown (on the top) <b><%= platform_name %></b> will enable you to see available sections from the platform to which you can upload data files.</p>
<p>These sections correspond to the main sections you can see on the website.</p>
<p>Choosing section from the dropdown will take you to the dedicated page where you can perform certain actions (uploading, downloading, running imports) for the respective section.</p>
<p>Each section consists of datasets needed for that specific section.</p>
